<div class="container">
  <form #goalForm='ngForm'>
  <div class="form-group">
    <textarea class="form-control" placeholder="what's your favourite Quote?" required rows="4" id="favQuote" [(ngModel)]="newQuote.name" name="name"></textarea>
      <!-- testing 2 way data binding -->
      Display {{newQuote.name}}
      </div>
      <div class="form-group">
        <input type="text" placeholder="who said that?" class="form-control" id="quoteBy">
      </div>
    <button id="submit">submit</button>

  </form>
</div>
